$font : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
html, body {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.container-fluid{
    border: none;
    background-image: url("../../assets/campo4.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 2%;
    padding-top: 0%;
    margin: 0%;
    width: 100vw;
    @include center();
}

.rowHome{
    padding: 0%;
    height: 5%;
}

.rowScrivi{
    margin: 0%;
    padding: 0%;
    height: fit-content;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 4%;
    border-bottom: 1px dashed white;
}

.rowSuDiTe{
    height: fit-content;
    width: 99.9%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 1%;
}


.col{
    padding: 0%;
    @include center();
}
.aiuto{
    border: 2px dashed black;
    color: black;
    background-color: transparent;
    font-family: $font;
    font-weight: 600;
    height: 3.7vh;
    width: 5vw;
    padding-left: 4%;
    padding-right: 4%;
}

.cardRating{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 10.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 24vh;
    width: 24vw;
    margin: 0%;
    @include center();
    align-items: center;
}

.form-control{
    width: 35%;
    background-color: #1372371e;
    border: 1px solid #137238;
}

.btn{
    width: 10vw;
}

.star {
    font-size: 2.5rem;
    color: #ffffff;
}
.starRecensione, .starRecensione2 {
    padding-top: 0%;
    margin-top: 0%;
    font-size: 2rem;
    color: #09ff004f;;
}

.font{
    font-family: $font;
    font-size: 23px;
}
.bold{
    font-weight: 600;
}

.form-group{
    @include center();
    margin-top: 4%
}

.form{
    @include center();
    padding: 0%;
    height: 45vh;
}

.testo{
    font-size: 26px;
    font-family: $font;
}

.filled {
    color: #09ff00;
}
.filledRecensione, .filledRecensione2 {
    color: #09ff00;
}

.filledRecensione.bad, .filledRecensione2.bad {
    color: #ff1e1e;
}

.bad {
    color: #deb0b0;
}

.filled.bad {
    color: #ff1e1e;
}

.scrittaVoto{
    font-family: $font;
    font-size: 26px;
    font-weight: 650;
    height: 11%;
    margin: 0%;
}

.pointer{
    cursor: pointer;
}

.cardRecensione{
    padding: 0%;
    width: 70%;
    height: 100%;
    @include center();
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 10.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

::placeholder{
    font-size: 16px;
    color: white;
}

.rowIcona{
    background-color: transparent;
}

.container-fluid2{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: flex-start;
}

@media screen and (min-width: 1000px) and (max-width: 1850px) {
   .cardRecensione{
        width: 80%;
        height: 80%;
   }
   .cardRating{
        height: 26vh;
        width: 26vw;
   }
   ::placeholder{
        font-size: 16px;
    }
    .testo{
        font-size: 20px;
    }
    .btn{
        font-size: 18px;
        padding: 1%;
    }
    .bi{
        width: 8vw;
        height: 8vh;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .cardRecensione{
         width: 80%;
         height: 80%;
    }
    .cardRating{
         height: 26vh;
         width: 26vw;
    }
    ::placeholder{
         font-size: 16px;
     }
     .testo{
         font-size: 17px;
     }
     .btn{
         font-size: 14px;
         padding: 1%;
     }
     .bi{
        width: 8vw;
        height: 8vh;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .cardRecensione{
         width: 80%;
         height: 80%;
    }
    .cardRating{
         height: 26vh;
         width: 26vw;
    }
    .star{
        font-size: 2rem;
    }
    ::placeholder{
         font-size: 13px;
     }
     .testo{
         font-size: 13px;
     }
     .btn{
         font-size: 12px;
         padding: 1%;
     }
     .scrittaVoto{
        font-size: 11px;
    }
    .bi{
        width: 8vw;
        height: 8vh;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .cardRecensione{
         width: 80%;
         height: 80%;
    }
    .cardRating{
         height: 26vh;
         width: 26vw;
    }
    ::placeholder{
         font-size: 12px;
     }
     .testo{
         font-size: 12px;
     }
     .btn{
         font-size: 11px;
         padding: 1%;
     }
     .scrittaVoto{
         font-size: 13px;
     }
     .star{
        font-size: 1.8rem;
    }
    .starRecensione .starRecensione2{
        font-size: 1.7rem;
    }
    .bi{
        width: 8vw;
        height: 8vh;
    }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
    .cardRecensione{
         width: 80%;
         height: 80%;
    }
    .cardRating{
         height: 26vh;
         width: 26vw;
    }
    ::placeholder{
         font-size: 11px;
     }
     .testo{
         font-size: 13px;
     }
     .btn{
         width: 20vw;
         font-size: 11px;
         padding: 5%;
     }
     .scrittaVoto{
         font-size: 11px;
     }
     .star{
        font-size: 1.5rem;
    }
    .starRecensione .starRecensione2{
        font-size: 1.5rem;
    }
    .bi{
        width: 8vw;
        height: 8vh;
    }
}

@media screen and (min-width: 200px) and (max-width: 400px) {
    .cardRecensione{
         width: 80%;
         height: 80%;
    }
    .cardRating{
         height: 26vh;
         width: 26vw;
    }
    ::placeholder{
         font-size: 8px;
     }
     .testo{
         font-size: 8px;
     }
     .btn{
         width: 20vw;
         font-size: 11px;
         padding: 5%;
     }
     .scrittaVoto{
         font-size: 11px;
     }
     .star{
        font-size: 1.1rem;
    }
    .starRecensione, .starRecensione2{
        font-size: 1rem;
    }
    .bi{
        width: 8vw;
        height: 8vh;
    }
}