$font : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
html, body {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.container-fluid{
    border: none;
    background-image: url("../../assets/campo4.jpg");
    background-size: cover;
    background-position: center;
    height: 100.1vh;
    padding: 0%;
    margin: 0%;
    width: 100vw;
    @include center();
}

.rowHome{
    padding: 0%;
    height: 5%;
}

.rowScrivi{
    margin: 0%;
    padding: 0%;
    height: 50%;
    width: 100vw;
    border-bottom: 1px dashed rgba(136, 135, 135, 0.363);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rowSuDiTe{
    height: 29%;
    width: 99.9%;
    border-top: 1px dashed rgba(136, 135, 135, 0.363);
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}


.col{
    padding: 0%;
    @include center();
}
.aiuto{
    border: 2px dashed black;
    color: black;
    background-color: transparent;
    font-family: $font;
    font-weight: 600;
    height: 3.7vh;
    width: 5vw;
    padding-left: 4%;
    padding-right: 4%;
}

.cardRating{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 10.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 24vh;
    width: 24vw;
    margin: 0%;
    @include center();
}

.form-control{
    width: 35%;
    background-color: #1372371e;
    border: 1px solid #137238;
}

.btn{
    width: 10vw;
}

.star {
    font-size: 2.5rem;
    color: #ffffff;
}
.starRecensione, .starRecensione2 {
    padding-top: 0%;
    margin-top: 0%;
    font-size: 2rem;
    color: #09ff004f;;
}

.font{
    font-family: $font;
}
.bold{
    font-weight: 600;
}

.form-group{
    @include center();
    margin-top: 4%
}

.form{
    @include center();
    padding: 0%;
    height: 45vh;
}

.testo{
    font-size: 20px;
}

.filled {
    color: #09ff00;
}
.filledRecensione, .filledRecensione2 {
    color: #09ff00;
}

.filledRecensione.bad, .filledRecensione2.bad {
    color: #ff1e1e;
}

.bad {
    color: #deb0b0;
}

.filled.bad {
    color: #ff1e1e;
}

.scrittaVoto{
    font-family: $font;
    font-size: 26px;
    font-weight: 650;
    height: 11%;
}

.pointer{
    cursor: pointer;
}

.cardRecensione{
    padding: 0%;
    width: 70%;
    height: 100%;
    @include center();
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 10.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

::placeholder{
    font-size: 16px;
    color: white;
}

.rowIcona{
    background-color: transparent;
}

.container-fluid2{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 1850px) {
   .cardRecensione{
        width: 80%;
        height: 80%;
   }
   .cardRating{
    height: 26vh;
    width: 26vw;
   }
   ::placeholder{
    font-size: 16px;
}
}

@media screen and (max-width: 1300px) {
    .testo{
        font-size: 18px;
    }
    .scrittaVoto{
        font-size: 24px;
    }
    ::placeholder{
        font-size: 14px;
    }
}

@media screen and (max-width: 1170px) {
    .cardRecensione{
        width: 75%;
        height: 75%;
    }
   .cardRating{
        height: 24vh;
        width: 24vw;
    }
   .testo{
        font-size: 16px;
    }
    .scrittaVoto{
        font-size: 22px;
    }
    ::placeholder{
        font-size: 12px;
    }
}

@media screen and (max-width: 1104px) {
    .testo{
        text-align: center;
    }
    ::placeholder{
        font-size: 10px;
    }
    .scrittaVoto{
        font-size: 20px;
    }
    .cardRating{
        height: 22vh;
        width: 24vw;
    }
    .alert{
        width: 90%;
        height: 90%;
    }
}

@media screen and (max-width: 900px){
    .alert{
        width: 100%;
        height: 100%;
        padding-bottom: 0%;
        font-size: 18px;
    }
}

.alert{
    width: 100%;
    height: 100%;
    padding-bottom: 0%;
}

@media screen and (max-width: 740px) {
    .alert{
        width: 100%;
        height: 100%;
        font-size: 16px;
    }
}

@media screen and (max-width: 740px) {
    .star{
        font-size: 2rem;
    }
    .scrittaVoto{
        font-size: 18px;
    }
    .alert{
        width: 100%;
        height: 100%;
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {
    .star{
        font-size: 1.8rem;
    }
    .cardRating{
        height: 20vh;
        width: 24vw;
    }
    .scrittaVoto{
        font-size: 17px;
    }
    .alert{
        width: 100%;
        height: 100%;
        font-size: 12px;
    }
}

@media screen and (max-width: 550px) {
    .star{
        font-size: 1.6rem;
    }
    .cardRating{
        height: 18vh;
        width: 24vw;
    }
    .scrittaVoto{
        font-size: 15px;
    }
}