<div class="row m-0 p-0">
    <div class="container-fluid">
        <div class="row rowHome m-0 justify-content-center mt-3">
            <svg routerLink="/homeUtente" xmlns="http://www.w3.org/2000/svg" width="55px" height="55px" fill="white"
                class="bi bi-house-door-fill pointer m-0" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
            </svg>
        </div>
        <!--Scrivi recensione-->

        <div class="row rowScrivi my-5 ml-5 justify-content-center">

            <form [formGroup]="formFeedbackStruttura">
                <div class="row w-100 align-items-center justify-content-center text-center">
                    <div class="col-12">
                    <h3>Inserisci valutazione per questa struttura</h3>
                    </div>
                    <div class="col-12 mt-3">
                        <input type="number" min="1" max="5" formControlName="rating" style="width: 25%;" class="text-center"> <br>
                        <label class="text-danger">Inserire un numero</label>
                    </div>
                    <div class="col-12 mt-3">
                        <input type="text" formControlName="comment" style="width: 25%;" class="text-center"> <br>
                        <label class="text-danger">Inserire un commento</label>
                    </div>
                    <div class="row w-100 justify-content-center">
                        <button type="submit" [disabled]="formFeedbackStruttura.invalid" (click)="sendFeedbackStruttura()" class="btn btn-success">Conferma</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row rowScrivi my-3 ml-5 justify-content-center">

            <h3>Scegli la partita</h3>

            <table mat-table [dataSource]="dataSourcePartite" class="mat-elevation-z8 w-100 justify-content-center tabella">
                
                <ng-container matColumnDef="checkbox" class="ml-4">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Scegli</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna pointer">
                        <button class="btnSelect" (click)="stampaId(this.element)"></button> </td>
                </ng-container>
                
                <ng-container matColumnDef="id">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">ID partita</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna pointer">
                        {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="time">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Ora</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna pointer">
                        {{element.time}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">Data</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna pointer">
                        {{element.date}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="w-100" style="display: flex; justify-content: center; height: fit-content;">
               <!-- <button type="button" style="height: 50px;" (click)="iscriviUtente()" class="btn btn-success">Conferma</button> -->
            </div>
            <!-- <mat-spinner *ngIf="caricamento" class="spinner"></mat-spinner> --> 

            <div class="row innertabella2 mt-5 justify-content-center" *ngIf="vediInnerTabella">
    
                <h3>Scegli l'utente di cui vuoi inserire il feedback</h3>
                <table mat-table [dataSource]="arrayPartitaScelta" class="mat-elevation-z8 w-100 justify-content-center tabella">
    
                    <ng-container matColumnDef="checkbox" class="ml-4">
                        <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne2">Seleziona 1 o più</b> </th>
                        <td mat-cell *matCellDef="let element" class="colonna2"> <button class="btnSelect" (click)="checked(this.element)"></button> </td>
                    </ng-container>
        
                    <ng-container matColumnDef="name">
                        <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne2">Name</b> </th>
                        <td mat-cell *matCellDef="let element" class="colonna2"> {{element.name}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="surname">
                        <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne2">Surname</b> </th>
                        <td mat-cell *matCellDef="let element" class="colonna2"> {{element.surname}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="autovalutazione">
                        <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne2">Autovalutazione</b> </th>
                        <td mat-cell *matCellDef="let element" class="colonna2"> {{element.rating}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne2">E-mail</b> </th>
                        <td mat-cell *matCellDef="let element" class="colonna2"> {{element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ruolo">
                        <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne2">Ruolo</b> </th>
                        <td mat-cell *matCellDef="let element" class="colonna2"> {{element.role}} </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsGiocatoriPerPartita"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsGiocatoriPerPartita;"></tr>
                </table>
    
                <div *ngIf="feedback" class="mt-5">
                    <form [formGroup]="formFeedback">
                    <div class="row w-100 align-items-center justify-content-center text-center">
                        <div class="col-12">
                            <label style="font-weight: 600; font-size: 27px; color:white; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                                Inserisci valutazione per questo giocatore</label>
                        </div>
                        <div class="col-12 mt-3">
                            <input type="number" min="1" max="5" formControlName="valutazione" style="width: 25%;" class="text-center"> <br>
                            <label class="text-danger">Inserire un numero da 1 a 5</label>
                        </div>
                        <div class="row w-100 justify-content-center">
                            <button type="submit" [disabled]="formFeedback.invalid" (click)="sendFeedback()" class="btn btn-success">Conferma</button>
                        </div>
    
                        <mat-spinner *ngIf="spinner" class="spinner"></mat-spinner> 
                        <label class="text-warning mt-5" style="font-size: 28px;" *ngIf="feedbackInviato">Il feedback è stato inviato con successo!</label>
                    </div>
                    </form>
                </div>
            </div>
            
        </div>

        
        <div class="row rowSuDiTe">

        </div>

    </div>
</div>