<div class="container-fluid login">
    <form class="form" [formGroup]="formLogin" (ngSubmit)="sendData()">
        <div class="form-group row">
            <div class="col-sm-10 containerInput">
                <div>
                    <label class="col-sm-2 pb-4 inputLabel">Email</label>
                </div>
                <input type="email" class="input" placeholder="example@gmail.com" formControlName="email">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 containerInput">
                <div>
                    <label class="col-sm-2 py-4 inputLabel text-center">Password</label>
                </div>
                <input type="password" class="input" formControlName="password">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 containerInput">
                <button type="submit" class="btn btn-primary signin" [disabled]="formLogin.invalid">Log in</button>
            </div>
        </div>
        <div class="form-group row">
            <span class="textRegistrati" routerLink="/preRegistrazione">Oppure registrati</span>
        </div>
    </form>
</div>