<div class="container-fluid login">
    <form class="form" [formGroup]="formLogin" (ngSubmit)="sendData()">
        <div class="form-group row mt-3">
            <div class="col-sm-10 containerInput">
                <div>
                    <label class="col-12 inputLabel">Login per le strutture</label>
                </div>
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-sm-10 containerInput">
                <div>
                    <label class="col-sm-2 pb-4 inputLabel">Email</label>
                </div>
                <input type="email" class="input" placeholder="example@gmail.com" formControlName="email">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 containerInput">
                <div>
                    <label class="col-sm-2 py-4 inputLabel text-center">Password</label>
                </div>
                <input type="password" class="input" formControlName="password">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 containerInput">
                <button type="submit" class="btn signin text-white" [disabled]="formLogin.invalid">Log in</button>
            </div>
        </div>
        <div class="form-group row">
            <span class="textRegistrati" routerLink="/preRegistrazione">Oppure registrati</span>
        </div>
        <div class="form-group row">
            <mat-spinner *ngIf="spinner" color="accent"></mat-spinner>
        </div>
        <div class="form-group row mt-3">
            <button type="button" class="btn btn-info" routerLink="/loginUtente">Passa alla login per gli utenti</button>
        </div>
        <div class="row rowcaricamento justify-content-center align-items-center mt-3">
            <label *ngIf="errore" class="text-danger" style="font-size: 23px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                Non esiste un utente con queste credenziali
            </label>
        </div>
    </form>
    
</div>