<div class="container-fluid registrazione pt-1">
    <div id="contenitoreform">
        <form class="form" [formGroup]="formRegistrazione" (ngSubmit)="sendData()">
            <div class="row m-0 p-0 w-100">
                <div class="col-6 m-0 p-0 ">
                    <div class="col-12 m-0 p-0">
                        <label class="col-sm-2 inputLabel pr-3">Nome</label>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <input type="text" class="input" placeholder="Mario" formControlName="nome">
                    </div>
                </div>
                <div class="col-6 m-0 p-0">
                    <div class="col-12 m-0 p-0">
                        <label class="col-sm-2 inputLabel pr-3">Cognome</label>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <input type="text" class="input" placeholder="Rossi" formControlName="cognome">
                    </div>
                </div>
                <div class="col-6 m-0 p-0 mt-2">
                    <div class="col-12 m-0 p-0">
                        <label class="col-sm-2 inputLabel m-0 p-0">Email</label>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <input type="email" class="input" placeholder="example@gmail.com" formControlName="email">
                    </div>
                </div>
                <div class="col-6 m-0 p-0 mt-2">
                    <div class="col-12 m-0 p-0">
                        <label class="col-sm-2 inputLabel m-0 p-0">Password</label>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <input type="password" class="input" formControlName="password">
                    </div>
                </div>
                <div class="row w-100 mt-4">
                    <div class="col-6 w-100 d-flex justify-content-center ">
                        <button type="button" class="btn aiuto" placement="left" ngbPopover={{testoAutovalutaz}}> Cos'è?
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                            </svg>
                        </button>
                    </div>
                    <div class="col-6 w-100 d-flex justify-content-center">
                        <button type="button" class="btn aiuto" placement="right" ngbPopover={{testoRuolo}}> Cos'è? <svg
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-arrow-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="col-6 m-0 p-0 mt-1">
                    <div class="col-12 m-0 p-0">
                        <label class="inputLabel">Autovalutazione </label>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <input type="number" min="1" max="5" class="input inputRuolo m-0 p-2"
                            formControlName="autovalutazione">
                    </div>
                </div>
                <div class="col-6 m-0 p-0 mt-1">
                    <div class="col-12 m-0 p-0">
                        <label class="inputLabel">Ruolo</label>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <select class="inputRuolo" aria-label="Ruolo" formControlName="ruolo">
                            <option class="optionRuolo input" selected disabled>--</option>
                            <option class="optionRuolo input" value="portiere">Portiere</option>
                            <option class="optionRuolo input" value="difensore">Difensore</option>
                            <option class="optionRuolo input" value="centrocampista">Centrocampista</option>
                            <option class="optionRuolo input" value="attaccante">Attaccante</option>
                        </select>
                    </div>
                </div>
                <div class="row p-3 tabella pb-0 h-100 w-100 justify-content-center">
                    <label class="inputLabel">Seleziona la società a cui vuoi appartenere</label>

                    <table mat-table [dataSource]="dataSourceBackend"
                        class="mat-elevation-z8 w-100 mt-2 justify-content-center ">


                        <ng-container matColumnDef="checkbox" class="ml-4">
                            <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Seleziona
                                    struttura</b>
                            </th>
                            <td mat-cell *matCellDef="let element" class="colonna pointer"> <input type="radio"
                                    (click)="stampaId(this.element.id)"> </td>
                        </ng-container>

                        <ng-container matColumnDef="tenantId" class="ml-4">
                            <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">ID tenant</b>
                            </th>
                            <td mat-cell *matCellDef="let element" class="colonna pointer"> {{element.id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">Nome
                                    struttura</b> </th>
                            <td mat-cell *matCellDef="let element" class="colonna pointer"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="city">
                            <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">Città
                                    struttura</b>
                            </th>l
                            <td mat-cell *matCellDef="let element" class="colonna pointer"> {{element.city}} </td>
                        </ng-container>

                        <ng-container matColumnDef="address" class="ml-4">
                            <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Indirizzo
                                    struttura</b>
                            </th>
                            <td mat-cell *matCellDef="let element" class="colonna pointer"> {{element.address}} </td>
                        </ng-container>

                        <ng-container matColumnDef="cap">
                            <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">CAP
                                    struttura</b> </th>
                            <td mat-cell *matCellDef="let element" class="colonna pointer"> {{element.cap}} </td>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">E-mail
                                    struttura</b>
                            </th>
                            <td mat-cell *matCellDef="let element" class="colonna pointer"> {{element.email}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </table>
                </div>

            </div>
            <div class="row text-center">
                <div class="col-6 offset-3">
                    <button type="submit" [disabled]="!this.formRegistrazione.valid"
                        class="btn btn-primary signin">Avanti</button>
                </div>
            </div>
        </form>
    </div>
</div>