<div class="row m-0 p-0">
    <div class="container-fluid">
        <div class="row rowHome m-0 my-4">
            <svg routerLink="/homeUtente" xmlns="http://www.w3.org/2000/svg" width="55px" height="55px" fill="white"
                class="bi bi-house-door-fill pointer m-0" viewBox="0 0 16 16">
                <path
                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
            </svg>
        </div>
        <div class="row w-100 h-100">

            <table mat-table [dataSource]="dataSourcePartite" class="mat-elevation-z8 w-100 mx-5 justify-content-center tabella">
                
                <ng-container matColumnDef="checkbox" class="ml-4">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Scegli</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna pointer">
                        <button class="btnSelect" (click)="stampaId(this.element.id)"></button> </td>
                </ng-container>
                
                <ng-container matColumnDef="id">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">ID partita</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna pointer">
                        {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="ora">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Ora</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna pointer">
                        {{element.time}} </td>
                </ng-container>

                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">Data</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna pointer">
                        {{element.date}} </td>
                </ng-container>

                <ng-container matColumnDef="numeroGiocatori">
                    <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">Numero giocatori</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna pointer">
                        {{element.numberPlayers}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="w-100" style="display: flex; justify-content: center; height: fit-content;">
                <button type="button" style="height: 50px;" (click)="iscriviUtente()" class="btn btn-success">Conferma</button>
            </div>
            <mat-spinner *ngIf="caricamento" class="spinner"></mat-spinner>
        </div>
    </div>
</div>