<div class="container-fluid">
    <div style="display: flex; justify-content: center;">
        <h1 class="h1recap mb-2">Recap registrazione</h1>
    </div>
    <div class="contenitoreRecap">

        <div class="row">
            <div class="col-6 col" style="display:flex; justify-content: flex-end;">
                <span class="spanDati"> Nome struttura:  <i>{{recapDati.name}}</i> </span>
            </div>
            <div class="col-6 col">
                <span class="spanDati"> Città: <i>{{recapDati.city}}</i> </span>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col" style="display:flex; justify-content: flex-end;">
                <span class="spanDati"> Via: <i>{{recapDati.address}}</i> </span>
            </div>
            <div class="col-6 col">
                <span class="spanDati"> CAP: <i>{{recapDati.cap}}</i> </span>
            </div>
        </div>

        <div class="row mt-5" *ngIf="!errore">
            <div class="divBtnAvanti">
                <button class="btn btn-primary signin" (click) = "salvaLocalStorage()">Avanti</button>
            </div>
        </div>
        <div class="row" *ngIf="errore">
            <label class="text-danger" style="font-size: 30px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                Esiste un utente con questa mail, torna indietro e cambiala per favore</label>
        </div>
    </div>

</div>