<div class="row bottoni m-0 p-0">
    <div class="col-5"></div>
    <div class="col-1">
        <button disabled class="btnAvanzamento1 mt-3"></button>
    </div>
    <div class="col-1">
        <button disabled class="btnAvanzamento2 mt-3"></button>
    </div>
    <div class="col-1">
        <button disabled class="btnAvanzamento3 mt-3"></button>
    </div>
    <div class="col-4"></div>
</div>

<div class="container-fluid registrazione">
    <div id="contenitoreform">
        <div class="row w-100">
            <div class="col-6 w-100 d-flex justify-content-center ">
                <button type="button" class="btn aiuto" placement="left" ngbPopover={{testoAutovalutaz}}> Cos'è? <svg
                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                    </svg>
                </button>
            </div>
            <div class="col-6 w-100 d-flex justify-content-center">
                <button type="button" class="btn aiuto" placement="right" ngbPopover={{testoRuolo}}> Cos'è? <svg
                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                    </svg>
                </button>
            </div>
        </div>
        <form class="form" [formGroup]="formRegistrazione2" (ngSubmit)="sendData()">
            <div class="row m-0 p-0">
                <div class="col-6 m-0 p-0">
                    <div class="containerInput">
                        <div>
                            <label class="inputLabel">Autovalutazione </label>
                        </div>
                        <input type="number" min="1" max="5" class="input inputRuolo m-0 p-2"
                            formControlName="autovalutazione">
                    </div>
                </div>
                <div class="col-6 col justify-content-center">
                    <div class="containerInput">
                        <div>
                            <label class="inputLabel">Ruolo</label>
                        </div>
                        <select class="inputRuolo" aria-label="Ruolo" formControlName="ruolo">
                        <option class="optionRuolo input" selected disabled>--</option>
                        <option class="optionRuolo input" value="portiere">Portiere</option>
                        <option class="optionRuolo input" value="difensore">Difensore</option>
                        <option class="optionRuolo input" value="centrocampista">Centrocampista</option>
                        <option class="optionRuolo input" value="attaccante">Attaccante</option>
                    </select>
                    </div>
                </div>

                <!-- seleziona tenant -->
                <div class="row w-100 h-100 justify-content-center mt-5">
                    <!--TODO fare ricerca per ID-->
                    <label class="inputLabel">Seleziona la società a cui vuoi appartenere</label>

                    <table mat-table [dataSource]="dataSourceBackend"
                        class="mat-elevation-z8 w-100 mt-2 justify-content-center">


                        <ng-container matColumnDef="checkbox" class="ml-4">
                            <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Seleziona struttura</b>
                            </th>
                            <td mat-cell *matCellDef="let element" class="colonna pointer"> <input type="radio" (click)="stampaId(this.element.id)"> </td>
                        </ng-container>

                        <ng-container matColumnDef="tenantId" class="ml-4">
                            <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">ID tenant</b>
                            </th>
                            <td mat-cell *matCellDef="let element" class="colonna pointer"> {{element.id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">Nome
                                    struttura</b> </th>
                            <td mat-cell *matCellDef="let element" class="colonna pointer"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="city">
                            <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">Città struttura</b>
                            </th>l
                            <td mat-cell *matCellDef="let element" class="colonna pointer"> {{element.city}} </td>
                        </ng-container>

                        <ng-container matColumnDef="address" class="ml-4">
                            <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Indirizzo struttura</b>
                            </th>
                            <td mat-cell *matCellDef="let element" class="colonna pointer"> {{element.address}} </td>
                        </ng-container>

                        <ng-container matColumnDef="cap">
                            <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">CAP struttura</b> </th>
                            <td mat-cell *matCellDef="let element" class="colonna pointer"> {{element.cap}} </td>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">E-mail struttura</b>
                            </th>
                            <td mat-cell *matCellDef="let element" class="colonna pointer"> {{element.email}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </table>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6 offset-3">
                    <button type="submit" [disabled]="formRegistrazione2.invalid"
                        class="btn btn-primary signin">Avanti</button>
                </div>
            </div>
        </form>
    </div>
</div>