<div class="container-fluid">
    <div class="row justify-content-center m-0 p-0">
        <div class="row pt-4 w-100" style="display: flex; align-items: center; justify-content: center;">
            <span class="hoverCursor sliderScritta">Dashboard admin</span>
        </div>
        <div class="row mt-3 w-100">

            <!-- al click attiva una variabile che cambia la visualizzazione della nav -->
            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li ngbNavItem>
                    <a ngbNavLink (click)="visualizzaPrenotazioni()" class="testoNav">Prenotazioni</a>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink (click)="visualizzaFeedback()" class="testoNav">Feedback</a>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink (click)="visualizza3()" class="testoNav">Impostazioni</a>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink (click)="visualizzaTueInfo()" class="testoNav">Le tue info</a>
                </li>
              </ul>
              
              <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>

    <!-- PRENOTAZIONI -->
    <div *ngIf="vediPrenotazioni" class="row justify-content-center w-100 p-0 m-0">

        <!--TODO aggiornare datasource backend-->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100 justify-content-center tabella">

            <ng-container matColumnDef="idpartita" class="ml-4">
                <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">ID partita</b> </th>
                <td (click) = "visualizzaQuesta(element)" mat-cell *matCellDef="let element" class="colonna pointer"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="ora">
                <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Ora</b> </th>
                <td (click) = "visualizzaQuesta(element)" mat-cell *matCellDef="let element" class="colonna pointer"> {{element.time}} </td>
            </ng-container>

            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">Data</b> </th>
                <td (click) = "visualizzaQuesta(element)" mat-cell *matCellDef="let element" class="colonna pointer"> {{element.date}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
        </table>

        <div class="row innertabella" *ngIf="vediInnerTabella">
            <div class="d-flex w-100 align-items-center">
                <h3 class="h3PartitaScelta align-items-center">ID partita scelta: <b class="testoColonne">{{idCorrente}}</b>, numero partecipanti: <b class="testoColonne">{{arrayPartitaScelta.length}}</b></h3>
                <button type="button" class="btn btn-success" (click) = "formaSquadre()" [disabled]="arrayPartitaScelta.length < 14">Forma squadre</button>
                <button *ngIf="checkedCheckbox" type="button" class="btn btn-warning" (click) = "rimuoviGiocatori()">Rimuovi selezionato/i</button>
            </div>

            <!--TODO aggiornare datasource backend-->
            <table mat-table [dataSource]="arrayPartitaScelta" class="mat-elevation-z8 w-100 justify-content-center tabella">

                <ng-container matColumnDef="checkbox" class="ml-4">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Seleziona 1 o più</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna"> <input type="checkbox" (click)="checked()"> </td>
                </ng-container>

                <ng-container matColumnDef="idgiocatore" class="ml-4">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">ID giocatore</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna"> {{element.idgiocatore}} </td>
                </ng-container>
    
                <ng-container matColumnDef="name">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Name</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna"> {{element.name}} </td>
                </ng-container>
    
                <ng-container matColumnDef="surname">
                    <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">Surname</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna"> {{element.surname}} </td>
                </ng-container>
    
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">Username</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna"> {{element.username}} </td>
                </ng-container>
    
                <ng-container matColumnDef="autovalutazione">
                    <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">Autovalutazione</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna"> {{element.autovalutazione}} </td>
                </ng-container>
    
                <ng-container matColumnDef="ruolo">
                    <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">Ruolo</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna"> {{element.ruolo}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>

            <mat-spinner *ngIf="caricamento" class="spinner"></mat-spinner>
        </div>
        
    </div>

    <!-- FEEDBACK -->
    <div *ngIf="feedback">
        <!--TODO aggiornare datasource backend-->
        <table mat-table [dataSource]="dataSourceFeedback" class="mat-elevation-z8 justify-content-center tabella">

            <ng-container matColumnDef="idgiocatore" class="ml-4">
                <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">ID giocatore</b> </th>
                <td mat-cell *matCellDef="let element" class="colonna pointer"> {{element.idgiocatore}} </td>
            </ng-container>

            <ng-container matColumnDef="valutazione">
                <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Valutazione</b> </th>
                <td mat-cell *matCellDef="let element" class="colonna pointer"> {{element.valutazione}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsFeedback"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsFeedback;"></tr>
        </table>
    </div>

    <!-- IMPOSTAZIONI -->
    <div *ngIf="impostazioni">
        <!--TODO aggiornare datasource backend-->
        <table mat-table [dataSource]="dataSourceFeedback" class="mat-elevation-z8 justify-content-center tabella">
            <ng-container matColumnDef="Crea partita" class="ml-4">
                <th class="colonna pointer" (click) = "visualizzaCreaPartita(element)" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Crea partita</b> </th>
            </ng-container>

            <ng-container matColumnDef="Modifica partita">
                <th class="colonna pointer" (click) = "visualizzaModificaPartita(element)" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Modifica partita</b> </th>
            </ng-container>
            <ng-container matColumnDef="Elimina partita">
                <th class="colonna pointer" (click) = "visualizzaEliminaPartita(element)" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Elimina partita</b> </th>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsImpostazioni"></tr>
        </table>

        <div class="row innertabella" *ngIf="creaSquadra">
            <form [formGroup]="formDataeOra">
                <div class="row w-100">
                    <div class="col-4">
                        <label>Inserisci data</label>
                        <input type="text" formControlName="data"> <br>
                        <label class="text-danger">Inserire data in questo formato 12/12/2021</label>
                    </div>
                    <div class="col-4">
                        <label>Inserisci ora</label>
                        <input type="text" class="mr-1" formControlName="ora"> <br>
                        <label class="text-danger">Inserire ora in questo formato 12:30</label><br>
                    </div>
                    <div class="col-4 ">
                        <button type="submit" [disabled]="formDataeOra.invalid" (click)="submit()" class="btn btn-success">Conferma</button>
                    </div>
                </div>      
            </form>
            <mat-spinner *ngIf="caricamento2" class="spinner"></mat-spinner>

            <label class="text-success mt-3" style="font-size: 28px;" *ngIf="creata">La partita è stata creata con successo!</label>
        </div>
        <div class="row innertabella" *ngIf="modificaSquadra">

            <h2>Seleziona la partita da <b>modificare</b> </h2>

            <table mat-table [dataSource]="dataSourceUpdate" class="mat-elevation-z8 w-100 justify-content-center tabella">

                <ng-container matColumnDef="checkbox" class="ml-4">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne"></b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna p-0 pl-3"> <button class="btnSelect" (click)="setIdPartitaDaModificare(this.element.id, this.element.time, this.element.date)"></button> </td>
                </ng-container>

                <ng-container matColumnDef="idpartita" class="ml-4">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">ID partita</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna"> {{element.id}} </td>
                </ng-container>
    
                <ng-container matColumnDef="ora">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Ora</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna"> {{element.time}} </td>
                </ng-container>

                <ng-container matColumnDef="data">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Data</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna"> {{element.date}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
            </table>
            <mat-spinner *ngIf="caricoModifica"></mat-spinner>

            <button type="button" (click)="modificaPartita(this.time, this.date)" class="btn btn-warning mt-4">Modifica</button>
            
            <div *ngIf="divModifica" class="mt-3">
                <form [formGroup]="formModifica">
                <div class="row w-100">
                    <div class="col-4">
                        <label>Inserisci data</label>
                        <input type="text" formControlName="date"> <br>
                        <label class="text-danger">Inserire data in questo formato 12/12/2021</label>
                    </div>
                    <div class="col-4">
                        <label>Inserisci ora</label>
                        <input type="text" class="mr-1" formControlName="time"> <br>
                        <label class="text-danger">Inserire ora in questo formato 12:30</label><br>
                    </div>
                    <div class="col-4 ">
                        <button type="submit" [disabled]="formModifica.invalid" (click)="updatePartita()" class="btn btn-success">Conferma</button>
                    </div>

                    <mat-spinner *ngIf="spinner" class="spinner"></mat-spinner> 
                    <label class="text-warning mt-5" style="font-size: 28px;" *ngIf="putOk">La partita è stata modificata con successo!</label>
                </div>
                </form>
            </div>
            
            
        </div>
        <div class="row innertabella" *ngIf="eliminaSquadra">

            <h2>Seleziona la partita da <b>eliminare</b> </h2>

            <table mat-table [dataSource]="dataSourceUpdate" class="mat-elevation-z8 w-100 justify-content-center tabella">

                <ng-container matColumnDef="checkbox" class="ml-4">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne"></b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna"> <button class="btnSelect" (click)="impostaIdPartitaEliminare(this.element.id)"></button> </td>
                </ng-container>

                <ng-container matColumnDef="idpartita" class="ml-4">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">ID partita</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna"> {{element.id}} </td>
                </ng-container>
    
                <ng-container matColumnDef="ora">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Ora</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna"> {{element.time}} </td>
                </ng-container>

                <ng-container matColumnDef="data">
                    <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Data</b> </th>
                    <td mat-cell *matCellDef="let element" class="colonna"> {{element.date}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
            </table>

            <button type="button" class="btn btn-danger mt-4" (click)="eliminaPartita()">Elimina</button>

            <mat-spinner *ngIf="spinnerElimina" class="spinner"></mat-spinner> 
            <label class="text-danger mt-3" style="font-size: 28px;" *ngIf="eliminaOk">La partita è stata eliminata con successo!</label>

        </div>
        
    </div>

    <!-- LE TUE INFO -->
    <div *ngIf="tueInfo">
        <table mat-table class="mat-elevation-z8 w-100 justify-content-center tabella">

            <ng-container matColumnDef="idtenant">
                <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">ID tenant</b> </th>
                <td mat-cell *matCellDef="let element" class="colonna pointer">  </td>
            </ng-container>

            <ng-container matColumnDef="nomestruttura">
                <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Nome struttura</b> </th>
                <td mat-cell *matCellDef="let element" class="colonna pointer">  </td>
            </ng-container>

            <ng-container matColumnDef="citta">
                <th class="colonna" mat-header-cell *matHeaderCellDef> <b class="testoColonne">Città</b> </th>
                <td mat-cell *matCellDef="let element" class="colonna pointer">  </td>
            </ng-container>

            <ng-container matColumnDef="via">
                <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">Via</b> </th>
                <td class="colonna pointer"> <span>{{via}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="cap">
                <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">CAP</b> </th>
                <td mat-cell *matCellDef="let element" class="colonna pointer"> </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef class="colonna"> <b class="testoColonne">E-mail</b> </th>
                <td mat-cell *matCellDef="let element" class="colonna pointer">  </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedInfo"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedInfo;"></tr>
        </table>
        <div class="row w-100 h-100 mt-4">
            <div class="container-fluid2 risultati">
                <div class="row">
                    <!--TODO qui sotto è hardcode-->
                    <div class="col ml-3">
                        <span class="risultatiInfo">{{idtenant}}</span>
                    </div>
                    <div class="col ml-30">
                        <span class="risultatiInfo">{{nomestruttura}}</span>
                    </div>
                    <div class="col ml-0 pl-0">
                        <span class="risultatiInfo">{{citta}}</span>
                    </div>
                    <div class="col ml-0 pl-0">
                        <span class="risultatiInfo">{{via}}</span>
                    </div>
                    <div class="col ml-0 pl-0">
                        <span class="risultatiInfo">{{cap}}</span>
                    </div>
                    <div class="col ml-0 pl-0">
                        <span class="risultatiInfo">{{email}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>