$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

html, body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

h2{
    font-family: $font;
    font-size: 28px;
}

.sliderScritta{
    padding: 0%;
    margin: 1%;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.logout{
    font-size: 150%;
    border-radius: 10px;    
    background-color: rgb(240, 4, 4);   

}
.logout:hover{
    transform: scale(1.03);
    background-color: red;   
}

.sidenav{
    background-color: aqua;
}

.drawer{
    background-color: aquamarine;
    width: 100vw;
}

.container-fluid, .container-fluid2{
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 175vh;
}

.container-fluid2{
    background-color: transparent;
    background: none;
}

.btn{
    height: 50%;
    margin-right: 3%;
}

.h3PartitaScelta{
    font-family: $font;
    font-size: 20px;
    font-weight: 550;
    color: black;
    padding: 2%;
    margin: 0%;
}

.risultati{
    font-family: $font;
    background-color: transparent;
    width: 130vw;
    height: 10vh;
    margin-left: 13px;
    padding: 0%;
}

.col{
    height: 100%;
}

.testoColonne, .testoColonne2{
    font-size: 22px;
    color: black;
    font-weight: 600;
}

.colonna, .colonna2{
    padding: 0%;
    width: 5%;
    margin-right: 0%;
}

.risultatiInfo{
    font-size: 20px;
}

.testoNav{
    color: black;
    font-family: $font;
    font-size: 25px;
    font-weight: 700;
}

.pointer{
    cursor: pointer;
}

.tabellaModifica{
    width: 90%;
}

.innertabella, .innertabella2{
    padding: 1%;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    margin: 0%;
}
.innertabella2{
    width: 130%;
}

.spinner{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSelect{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 8px;
    height: 5vh;
    width: 18%;
    background-color: white;
    border: 1px solid black;
}
.btnSelect:hover{
    background-color: rgb(161, 161, 161);
}
.btnSelect:focus{
    background-color: rgb(0, 0, 0);
}

.collogin2{
    height: 100px;
}

.spinner{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50deg, -50deg);
}

@media screen and (max-width: 480px) {
    .logout{
        font-size: 100%;
    }
    .btn-logout{
        font-size: 18px;
    }
    .sliderScritta{
        font-size: 21px;
    }
    .testoNav{
        font-size: 18px;
    }
    .testoColonne{
        font-size: 18px;
    }
    .h3PartitaScelta{
        font-size: 17px;
    }
    .collogin{
        display: none;
    }
    .testoColonne2{
        font-size: 13px;
    }
    .colonna2{
        font-size: 15px;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .logout{
        font-size: 100%;
    }
    .sliderScritta{
        font-size: 24px;
    }
    .testoNav{
        font-size: 21px;
    }
    .testoColonne{
        font-size: 21px;
    }
    .h3PartitaScelta{
        font-size: 20px;
    }
    .collogin2{
        display: none;
    }
    .testoColonne2{
        font-size: 16px;
    }
    .colonna2{
        font-size: 18px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
    .logout{
        font-size: 120%;
    }
    .sliderScritta{
        font-size: 27px;
    }
    .testoNav{
        font-size: 24px;
    }
    .testoColonne{
        font-size: 24px;
    }
    .h3PartitaScelta{
        font-size: 23px;
    }
    
    .collogin2{
        display: none;
    }
    .testoColonne2{
        font-size: 19px;
    }
    .colonna2{
        font-size: 20px;
    }
}
@media screen and (min-width: 1280px) {
    .logout{
        font-size: 150%;
    }
    .sliderScritta{
        font-size: 30px;
    }
    .testoNav{
        font-size: 27px;
    }
    .testoColonne{
        font-size: 27px;
    }
    .h3PartitaScelta{
        font-size: 27px;
    }
    
    .collogin2{
        display: none;
    }
    .testoColonne2{
        font-size: 23px;
    }
}